<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylb.mapper.ExpenseMapper">
    <insert id="expenseAdd">
        insert into expense values(default,#{empId},#{totalAmount},#{expTime},#{expDesc},#{nextAuditor},#{lastResult},#{status})
    </insert>
</mapper>